<div class="container">
		<div class="row" >
			<div class="col-md-4">
				<%= image_tag asset_path('logo.png'), :rel => 'icon', :type =>  'image/png', :id => 'aboutLogo' %>	
				
			</div>
			
			

		</div>

		<div class="row" style="margin: 3%;">
			<div class="col-md-4">
				<div align="center" style="width: 250px; height: 350px; background-color: #E8D124; margin-left: 10%; margin-bottom: 2%; padding: 20px; border-radius: 10px">
					
					<div align="center" style="width: 200px; height: 200px; background-color: white; border-radius: 10px;">
						<%= image_tag asset_path('hand.png'), :rel => 'icon', :type =>  'image/png', :id => 'handLogo' %>
					</div>

					<h3 align="center" style="color: black"><strong>Digital Strategy</strong></h3>
				
					<p style="color: black">Strategic planning for an effective website.</p>

				</div>
				<div style="border-right: solid; border-width: 2px; padding: 10px; margin-bottom: 2%">
					<p>
						<h4><strong>Research</strong></h4>
						The success of any platform is reliant on diligent research and planning. The more we understand your business, your market, and your customer, the better we’ll do at creating a stunning website. 

						<ul>
							<li>Goal Development</li>
							<li>Customer Profiling</li>
							<li>Market Analysis</li>
						</ul>
						
						<h4><strong>Information Architecture</strong></h4>
						Content organization can be a challenging task for any platform. A solid content map will minimize user confusion.

						<ul>
							<li>Site Map Creation</li>
							<li>Naming and Labeling Schemes</li>
							<li>Navigation Practices</li>
							<li>Content Strategy</li>
						</ul>  
						
						<h4><strong>Messaging</strong></h4>
						Good content is born out of thoughtful planning and analysis. A consistent voice will keep your audience interested and engaged. Targeted content will nurture and sustain brand loyalty and excitement.

						<ul>
							<li>Brand Exploration</li>
							<li>Competitive Analysis</li>
							<li>Content Creation</li>
						</ul>

						<h4><strong>User Engagement</strong></h4>
						Utilize the ideal blend of clean, functional design elements and relevant content to make it easy for the right types of visitors to both find and engage with your brand.

						<ul>
							<li>Engaging Content</li>
							<li>Social Media Integration</li>
						</ul>


					</p>
				</div>

			</div>

			<div class="col-md-4">
				<div align="center" style="width: 250px; height: 350px; background-color: #E8D124; margin-left: 10%; margin-bottom: 2%; padding: 20px; border-radius: 10px">

					<div align="center" style="width: 200px; height: 200px; background-color: white; border-radius: 10px;">
						<%= image_tag asset_path('design.png'), :rel => 'icon', :type =>  'image/png', :id => 'designLogo' %>
					</div>

					<h3 align="center" style="color: black"><strong>Web Design</strong></h3>

					<p style="color: black">Beautiful responsive designs, to maximize conversion. </p>
					
				</div>

				<div style="border-right: solid; border-width: 2px; padding: 10px; margin-bottom: 2%">
					<h4><strong>Responsive Design</strong></h4>
				    Over 50 percent of web users search from their phones. If your website lacks a responsive design, it won’t display well on phones. You’ll lose sales and leads when users have to pinch and zoom. With our responsive web design services, you get a polished design so you can maximize conversions.

				    <ul>
				    	<li>Professional Display on any Screen</li>
				    	<li>Target a Wider Audience</li>
				    	<li>Improved Search Rankings</li>
				    </ul>

				    <h4><strong>User Interface</strong></h4>
				    An elegant, intuitive user interface guides your audience throughout your website, making conversion easy. We create streamlined, professional UI solutions that compel users to stay on your site, fill out forms and make purchases.

				    <ul>
				    	<li>Fully Branded Websites</li>
				    	<li>Simple Navigation</li>
				    	<li>Clean, Efficient Designs</li>
				    </ul>

				    <h4><strong>User Experience</strong></h4>
				    If your website is frustrating, users will remember — and may avoid your company as a result. The best websites give the user a pleasurable experience… they’re attractive, easy and satisfying to use. With our professional web design services, we’ll help you create a memorable, positive environment that sets you up for success.

				    <ul>
				    	<li>User-Centered Design</li>
				    	<li>Clear Design Guidelines</li>
				    	<li>Usability Considerations</li>
				    </ul>

				    <h4><strong>User Experience</strong></h4>
				    Custom graphic design work will give your customers a tailored experience and enhance brand recognition. Depending on the usage, templates and stock imagery can dilute your brand by making you indistinguishable from the masses.

				    <ul>
				    	<li>Logos</li>
				    	<li>Branding Materials</li>
				    	<li>Custom Icons</li>
				    	<li>Infographics</li>
				    </ul>				    			    


				</div>

			</div>

			<div class="col-md-4">
				<div align="center" style="width: 250px; height: 350px; background-color: #E8D124; margin-left: 10%; margin-bottom: 2%; padding: 20px; border-radius: 10px">

					<div align="center" style="width: 200px; height: 200px; background-color: white; border-radius: 10px;">
						<%= image_tag asset_path('development.png'), :rel => 'icon', :type =>  'image/png', :id => 'developmentLogo'%>
					</div>

					<h3 align="center" style="color: black"><strong>Web Development</strong></h3>

					<p style="color: black">Websites built with usage and scalability at the forefront.</p>
					
				</div>

				<div align="center" style="border-right: solid; border-width: 2px; padding: 10px; margin-bottom: 2%; ">
					<ul>
						<li><%= image_tag asset_path('html5.png'), :rel => 'icon', :type =>  'image/png', :id => 'htmlLogo' %> </li>
						<li><%= image_tag asset_path('css.png'), :rel => 'icon', :type =>  'image/png', :id => 'cssLogo' %> </li>
						<li><%= image_tag asset_path('js.png'), :rel => 'icon', :type =>  'image/png', :id => 'jsLogo' %> </li>
						<li><%= image_tag asset_path('ruby.png'), :rel => 'icon', :type =>  'image/png', :id => 'rubyLogo' %> </li>
						<li><%= image_tag asset_path('Rails.png'), :rel => 'icon', :type =>  'image/png', :id => 'railsLogo' %> </li>
					</ul>
				</div>


			</div>
		</div>

		
</div>