<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @project.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Link:</strong>
  <%= @project.link %>
</p>

<p>
  <strong>Tech:</strong>
  <%= @project.tech %>
</p>
